# **Data collection and cleaning**

#### *For our dataset, we choose to look into an api that generates the latest data on the spread and fatality rates of coronavirus, at it appears globally. We chose to look at the way that the virus spreads and grows in China, to see if there is any utility that this trend provides in predicting the spread of COVID-19 in the United States.*

##### In this notebook, we are going to take the covid data from an open-sourced API and look carefully time-series data and clean it up in a way that it is more readily interpretable...


---

Added necessary imports and link to API site...

In [0]:
import pandas as pd
import numpy as np

import requests
import json
from pandas.io.json import json_normalize
import time

# https://lab.isaaclin.cn/nCoV/en

Read in all data from the API from the /area endpoint, starting from latest data and grabbing data all the way to Jan 21st--the first date that the virus had been tracked in this database.

In [0]:
req = requests.get("https://lab.isaaclin.cn/nCoV/api/area?latest=0")
req_data = req.json()["results"]
df_coronavirus = json_normalize(req_data)
df_coronavirus.head()

  provinceName  currentConfirmedCount  ...  modifyTime  cityName
0           关岛                    3.0  ...         NaN       NaN
1      美属维尔京群岛                    2.0  ...         NaN       NaN
2          以色列                  332.0  ...         NaN       NaN
3         斯洛伐克                   97.0  ...         NaN       NaN
4          冈比亚                    1.0  ...         NaN       NaN

[5 rows x 23 columns]

In [0]:
df_coronavirus.to_csv("coronavirus_raw.csv",encoding='utf-8-sig', index=False)

We need to have a way to properly draw meaning from the "updateTime" column. Right now, we have something like "1584297854611" which is really hard to actually interpret and use as a variable to group/compare entries by. To solve this issue we use Python's "datetime" library to turn this confusing timestamp into a properly formatted date. The results of this cleaning are shown in a new column called "updateTime_cleaned", shown below.

In [0]:
from datetime import datetime

cleaned = []
for entry in range(len(df_coronavirus)):
  cleaned.append(datetime.fromtimestamp(df_coronavirus['updateTime'][entry]/1000)
                  .strftime("%x"))
  
df_coronavirus['updateTime_cleaned'] = np.array(cleaned)
df_coronavirus

      provinceName  currentConfirmedCount  ...  cityName  updateTime_cleaned
0               关岛                    3.0  ...       NaN            03/17/20
1          美属维尔京群岛                    2.0  ...       NaN            03/17/20
2              以色列                  332.0  ...       NaN            03/17/20
3             斯洛伐克                   97.0  ...       NaN            03/17/20
4              冈比亚                    1.0  ...       NaN            03/17/20
...            ...                    ...  ...       ...                 ...
15965          辽宁省                    NaN  ...       NaN            01/21/20
15966           台湾                    NaN  ...       NaN            01/21/20
15967           香港                    NaN  ...       NaN            01/21/20
15968         黑龙江省                    NaN  ...       NaN            01/21/20
15969          湖南省                    NaN  ...       NaN            01/21/20

[15970 rows x 24 columns]

We also noted that for places not in China-- the cities field was either None or NaN, in which case we would run into an error when trying to parse out info about each city in China. We decided to fill missing value with an empty array "[]" in order to parse as needed.

In [0]:
df_coronavirus['cities'].fillna('[]', inplace = True)
df_coronavirus[df_coronavirus['cities']=='[]']

      provinceName  currentConfirmedCount  ...  cityName  updateTime_cleaned
0               关岛                    3.0  ...       NaN            03/17/20
1          美属维尔京群岛                    2.0  ...       NaN            03/17/20
2              以色列                  332.0  ...       NaN            03/17/20
3             斯洛伐克                   97.0  ...       NaN            03/17/20
4              冈比亚                    1.0  ...       NaN            03/17/20
...            ...                    ...  ...       ...                 ...
15965          辽宁省                    NaN  ...       NaN            01/21/20
15966           台湾                    NaN  ...       NaN            01/21/20
15967           香港                    NaN  ...       NaN            01/21/20
15968         黑龙江省                    NaN  ...       NaN            01/21/20
15969          湖南省                    NaN  ...       NaN            01/21/20

[10882 rows x 24 columns]

We see here that there are about 100 entries where we could not find an english name...

In [0]:
df_coronavirus[df_coronavirus['countryEnglishName'].isna()]

     provinceName  currentConfirmedCount  ...  cityName  updateTime_cleaned
1         美属维尔京群岛                    2.0  ...       NaN            03/17/20
13             黑山                    2.0  ...       NaN            03/17/20
180         瓜德罗普岛                    6.0  ...       NaN            03/17/20
187        圣巴泰勒米岛                    3.0  ...       NaN            03/17/20
190          库拉索岛                    2.0  ...       NaN            03/17/20
...           ...                    ...  ...       ...                 ...
2186        刚果（布）                    1.0  ...       NaN            03/16/20
2332        刚果（布）                    1.0  ...       NaN            03/16/20
2482        刚果（布）                    1.0  ...       NaN            03/16/20
2497        刚果（布）                    1.0  ...       NaN            03/16/20
2513        刚果（布）                    1.0  ...       NaN            03/16/20

[91 rows x 24 columns]

These countries are not translated into English, so we are going to drop them to minimize obscurity.

In [0]:
df_coronavirus_filtered = df_coronavirus[df_coronavirus['countryEnglishName']
                                         .isna() != True]
df_coronavirus_filtered

      provinceName  currentConfirmedCount  ...  cityName  updateTime_cleaned
0               关岛                    3.0  ...       NaN            03/17/20
2              以色列                  332.0  ...       NaN            03/17/20
3             斯洛伐克                   97.0  ...       NaN            03/17/20
4              冈比亚                    1.0  ...       NaN            03/17/20
5               阿曼                   21.0  ...       NaN            03/17/20
...            ...                    ...  ...       ...                 ...
15965          辽宁省                    NaN  ...       NaN            01/21/20
15966           台湾                    NaN  ...       NaN            01/21/20
15967           香港                    NaN  ...       NaN            01/21/20
15968         黑龙江省                    NaN  ...       NaN            01/21/20
15969          湖南省                    NaN  ...       NaN            01/21/20

[15879 rows x 24 columns]

DataFrame to track the spread of the virus through the United States from January 21st to now

In [0]:
df_US = df_coronavirus_filtered[
    df_coronavirus_filtered["countryEnglishName"] == "United States of America"]
df_US.head()

    provinceName  currentConfirmedCount  ...  cityName  updateTime_cleaned
23            美国                 5538.0  ...       NaN            03/17/20
92            美国                 5538.0  ...       NaN            03/17/20
99            美国                 4994.0  ...       NaN            03/17/20
118           美国                 4865.0  ...       NaN            03/17/20
210           美国                 4523.0  ...       NaN            03/17/20

[5 rows x 24 columns]

In [0]:
df_US.to_csv("US_coronavirus.csv",encoding='utf-8-sig', index=False)

We are now getting only the latest data on Coronavirus for every country.

In [0]:
req = requests.get("https://lab.isaaclin.cn/nCoV/api/area?latest=1")
req_data = req.json()["results"]
df_coronavirus_latest = json_normalize(req_data)
df_coronavirus_latest.head()

   locationId continentName continentEnglishName  ... cities comment     updateTime
0           0           北美洲        North America  ...   None          1584487275191
1           0           北美洲        North America  ...   None          1584487275191
2      955009            亚洲                 Asia  ...   None          1584484401599
3      963007            欧洲               Europe  ...   None          1584483818068
4      982005            非洲               Africa  ...   None          1584483753903

[5 rows x 16 columns]

In [0]:
df_coronavirus_latest.to_csv("coronavirus_latest_raw.csv",encoding='utf-8-sig',
                             index=False)

In [0]:
df_coronavirus_latest['cities'].fillna('[]', inplace = True)
df_coronavirus_latest[df_coronavirus_latest['cities']=='[]'].head()
df_coronavirus_latest_filtered = df_coronavirus_latest[
                                 df_coronavirus_latest['countryEnglishName']
                                         .isna() != True].copy()
df_coronavirus_latest_filtered.head()

   locationId continentName continentEnglishName  ... cities comment     updateTime
0           0           北美洲        North America  ...     []          1584487275191
2      955009            亚洲                 Asia  ...     []          1584484401599
3      963007            欧洲               Europe  ...     []          1584483818068
4      982005            非洲               Africa  ...     []          1584483753903
5      955013            亚洲                 Asia  ...     []          1584483497693

[5 rows x 16 columns]

Here we dropped the row of that has the overall counts for China because it would be double counted if we were to group by country name and sum over the columns to get the numbers for every country.

In [0]:
china = df_coronavirus_latest_filtered[
                    df_coronavirus_latest_filtered['locationId']==951001].index
df_coronavirus_latest_filtered.drop(china, inplace=True)

In [0]:
df_by_countries = df_coronavirus_latest_filtered.groupby(
                                              'countryEnglishName').sum(axis=1)
df_by_countries_filtered = df_by_countries[["currentConfirmedCount",
                                            "confirmedCount",
                                            "suspectedCount",
                                            "curedCount",
                                            "deadCount"]]
df_by_countries_filtered.head()

                     currentConfirmedCount  ...  deadCount
countryEnglishName                          ...
Afghanistan                             22  ...          0
Albania                                 54  ...          1
Algeria                                 45  ...          5
Andorra                                 14  ...          0
Antigua and Barbuda                      1  ...          0

[5 rows x 5 columns]

In [0]:
df_by_countries_filtered.to_csv("covid_by_country_filtered.csv",
                                encoding='utf-8-sig',
                                index=True)

In [0]:
df_by_countries_filtered.filter(like="China",axis=0)

                    currentConfirmedCount  ...  deadCount
countryEnglishName                         ...
China                                9084  ...       3231

[1 rows x 5 columns]

Here we are getting the counts of each city within each Chinese province so that we can graph the spread of Coronavirus within cities in China.

In [0]:
req_data_cities = []
province = []
country = []
for i in range(len(df_coronavirus_latest)):
  if df_coronavirus_latest.iloc[i]['cities'] != '[]':
    req_data_cities.extend(req.json()["results"][i]["cities"])
    province.extend(len(req.json()["results"][i]["cities"])*\
                    [df_coronavirus_latest.iloc[i]['provinceEnglishName']])
    country.extend(len(req.json()["results"][i]["cities"])*\
                    [df_coronavirus_latest.iloc[i]['countryEnglishName']])
df_cities = json_normalize(req_data_cities)
df_cities['provinceName'] = np.array(province)
df_cities['countryName'] = np.array(country)
df_cities.head()

  cityName  currentConfirmedCount  ...  provinceName  countryName
0       丹东                      2  ...      Liaoning        China
1       沈阳                      1  ...      Liaoning        China
2       朝阳                      1  ...      Liaoning        China
3       大连                      0  ...      Liaoning        China
4       锦州                      0  ...      Liaoning        China

[5 rows x 10 columns]

We are dropping the rows that do not have a cityEnglishName. For example "境外输入人员" is not a city within Yunnan province, rather it is an overseas import center, which has nothing to do with the city.

In [0]:
df_cities_filtered = df_cities.dropna().copy()
df_cities_filtered.head()

  cityName  currentConfirmedCount  ...  provinceName  countryName
0       丹东                      2  ...      Liaoning        China
1       沈阳                      1  ...      Liaoning        China
2       朝阳                      1  ...      Liaoning        China
3       大连                      0  ...      Liaoning        China
4       锦州                      0  ...      Liaoning        China

[5 rows x 10 columns]

The only problem with our dataset is that we don't have the latitudes and longitudes of the cities, thus we found another API that can return the latitudes and longitudes of the cities by entering the city and country name.

In [0]:
!pip install opencage
from opencage.geocoder import OpenCageGeocode
apikey = "82f1aabf1bd249488b9394ed2ab1dd8f"

geocoder = OpenCageGeocode(apikey)

Requirement already satisfied: opencage in /usr/local/lib/python3.6/dist-packages (1.2)
Requirement already satisfied: six>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from opencage) (1.12.0)
Requirement already satisfied: Requests>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from opencage) (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from Requests>=2.2.0->opencage) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from Requests>=2.2.0->opencage) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from Requests>=2.2.0->opencage) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from Requests>=2.2.0->opencage) (2019.11.28)

In [0]:
lat = []
long = []

for city, country in zip(df_cities_filtered['cityEnglishName'],
                         df_cities_filtered['countryName']):
  query = city + ", " + country
  results = geocoder.geocode(query)
  lat.append(results[0]['geometry']['lat'])
  long.append(results[0]['geometry']['lng'])

In [0]:
df_cities_filtered['lat'] = np.array(lat)
df_cities_filtered['long'] = np.array(long)
df_cities_filtered

    cityName  currentConfirmedCount  ...        lat        long
0         丹东                      2  ...  40.128668  124.386340
1         沈阳                      1  ...  41.804109  123.427636
2         朝阳                      1  ...  41.575477  120.439074
3         大连                      0  ...  38.918171  121.628294
4         锦州                      0  ...  41.108528  121.119422
..       ...                    ...  ...        ...         ...
425       三明                      0  ...  26.236795  117.603849
426       龙岩                      0  ...  25.097439  117.015116
427       西宁                      0  ...  36.622532  101.772196
428      海北州                      0  ...  37.719189  100.456559
429       拉萨                      0  ...  29.655389   91.170474

[422 rows x 12 columns]

In [0]:
df_cities_filtered.to_csv("chinese_cities_cleaned.csv",encoding='utf-8-sig',
                          index=False)

# **Data Cleaning that we were not able to apply (data too new)**

*Also looked into NEW endpoint for news data for use in possible sentiment analysis.*

*Issue: This was a new API feature made on 3/19/2020-- day of presentation. Was not able to get around to using it, but you can see some simple cleaning steps that were taken...*

In [28]:
req_news = requests.get("https://lab.isaaclin.cn/nCoV/api/news?lang=en&num=300")
req_news_data = req_news.json()["results"]
df_cv_news = json_normalize(req_news_data)
df_cv_news

                                                 title  ... provinceId
0    The London Underground will close a number of ...  ...
1    Thailand now requires health certificates from...  ...
2    Coronavirus: Australia and New Zealand ban non...  ...
3    Worship in churches and mosques suspended in K...  ...
4    Australia bans entry to foreign citizens and n...  ...
..                                                 ...  ...        ...
295  2,800 coronavirus cases now reported in the US...  ...
296  Detroit Pistons player tests positive for coro...  ...
297  Begoña Gómez, the wife of Prime Minister Pedro...  ...
298  The White House physician says President Trump...  ...
299  Two New York State Assembly members among stat...  ...

[300 rows x 7 columns]

In [32]:
df_cv_news = df_cv_news[df_cv_news.keys()[:5]].copy()
df_cv_news

                                                 title  ...        pubDate
0    The London Underground will close a number of ...  ...  1584600410000
1    Thailand now requires health certificates from...  ...  1584598853000
2    Coronavirus: Australia and New Zealand ban non...  ...  1584598582000
3    Worship in churches and mosques suspended in K...  ...  1584598298000
4    Australia bans entry to foreign citizens and n...  ...  1584597392000
..                                                 ...  ...            ...
295  2,800 coronavirus cases now reported in the US...  ...  1584235080000
296  Detroit Pistons player tests positive for coro...  ...  1584231720000
297  Begoña Gómez, the wife of Prime Minister Pedro...  ...  1584230400000
298  The White House physician says President Trump...  ...  1584230400000
299  Two New York State Assembly members among stat...  ...  1584229560000

[300 rows x 5 columns]

In [33]:
cleaned = []
for entry in range(len(df_cv_news)):
  cleaned.append(datetime.fromtimestamp(df_cv_news['pubDate'][entry]/1000)
                  .strftime("%x"))
  
df_cv_news['pubDate_cleaned'] = np.array(cleaned)
df_cv_news

                                                 title  ... pubDate_cleaned
0    The London Underground will close a number of ...  ...        03/19/20
1    Thailand now requires health certificates from...  ...        03/19/20
2    Coronavirus: Australia and New Zealand ban non...  ...        03/19/20
3    Worship in churches and mosques suspended in K...  ...        03/19/20
4    Australia bans entry to foreign citizens and n...  ...        03/19/20
..                                                 ...  ...             ...
295  2,800 coronavirus cases now reported in the US...  ...        03/15/20
296  Detroit Pistons player tests positive for coro...  ...        03/15/20
297  Begoña Gómez, the wife of Prime Minister Pedro...  ...        03/15/20
298  The White House physician says President Trump...  ...        03/15/20
299  Two New York State Assembly members among stat...  ...        03/14/20

[300 rows x 6 columns]